<head>
  <link rel="stylesheet" href="/pickmeup.min.css" type="text/css">
  <script src='/jquery.min.js'></script>
  <script type="text/javascript" src="/jquery.pickmeup.min.js"></script>
  <script src='/calendarInterface.js'></script>
</head>

<body>
  <section class="book-a-space">
    <h1>Book a Space </h1>

    <!-- <form action="/space/new">
      <button type="submit">Create a Space</button>
    </form> -->
    <div class="date" data-pmu-format="Y-m-d"> </div>
    <button class="search-button" type="submit" id='search'>Search</button>
    <p>
    <form action="/space/reset-search" method="post">
      <button class="search-button" type="submit">Reset Search</button>
    </form>
  
  <ul id='spaces'>
    <% @spaces.each do |space| %>
      <% if @searched_dates == nil %>
        <li>
            <form action="/space/<%= space.id %>/view">
              <button type="submit">
              Space: <%= space.name %>
              Price: <%= space.price %>
            </button>
            </form>
        </li>
      <% elsif date_match(@searched_dates, space).empty? %>
        <li>
          <form action="/space/<%= space.id %>/view">
            <button type="submit">
            Space: <%= space.name %>
            Price: <%= space.price %>
          </button>
            </form>
        </li>
      <% end %>
    <% end %>
  </ul>
  </section>
</body>
