<h1> My Spaces </h1>
<ul>
  <li id="<%=%>">
    <% @spaces.each do |space| %>
      <a href='my-spaces/<%= space.id %>'>Space Name: <%= space.name %></a>
      Pending Requests: <%= space.requests(status: 1).count %>
      Confirmed Requests: <%= space.requests(status: 2).count %>
      Declined Requests: <%= space.requests(status: 0).count %>
    <%end%>
  </li>
</ul>

