<article id="my-bookings">
  <h1>My Bookings</h1>
  <ul>
    <% @my_requests.each do |request|%>
      <li id="<%=request.id%>">
        Requested on: <%= request.time %>
        Space Name: <%= get_space_name(request.space_id) %>
        Start Date: <%= request.start_date %>
        End Date: <%= request.end_date %>
        Status: <% if request.status == 1 %>
                  Pending
                <% elsif request.status == 2 %>
                  Confirmed
                <% else %>
                  Declined
                <% end %>
      </li>
      <% end %>
  </ul>
</article>
