<% requests.each do |request|%>
  <li id="<%=request.id%>" class="list-dotted-border">
    Requested on: <%= request.time %>
    Space: <span class="maroon"><%= get_space_name(request.space_id) %></span>
    from <span class="maroon"><%= request.start_date %></span>
    to <span class="maroon"><%= request.end_date %></span>
  </li>
<% end %>
